# Compiled Objects #
####################
*.obj
*.o
*.dll
*.so
*.lib
*.exp
*.exe
src/LogDump

# VI Swap files #
#################
*.swp

# Everything in the include directory #
#######################################
include/*.h
include/*.cpp
