	<SqlStatement methodName="insertWithId" target="odbc" methodType="UPDATE">
		<Comment>Inserts a single row with a given Id into the table ${tableName}</Comment>
		<Sql>
			insert into ${tableName}( 
${insertColNames}
			) values ( 
${insertColValues}
			)
		</Sql>
${insertInputs}
	</SqlStatement>

