	<SqlStatement methodName="selectAll" target="odbc" methodType="SELECTTOXML">
		<Comment>Retrieves all rows from the table ${tableName}</Comment>
		<Sql>
			select ${selectColNames}
			from ${tableName}
			order by ${tableName}.Id
		</Sql>
${selectOutputs}
	</SqlStatement>

	<SqlStatement methodName="selectAllRecentlyChanged" target="odbc" methodType="SELECTTOXML">
		<Comment>Retrieves all rows from the table ${tableName} that have changed recently</Comment>
		<Sql>
			select Id
			from ${tableName}
			where ModifiedDate &gt; ?
		</Sql>
		<Output name="Id" type="guid"/>
		<Input name="TargetDate" type="Timestamp"/>
	</SqlStatement>

	<SqlStatement methodName="selectById" target="odbc" methodType="SELECTTOXML">
		<Comment>Retrieves a single row from the table ${tableName} by PK</Comment>
		<Sql>
			select ${selectColNames}
			from ${tableName}
			where ${tableName}.Id = ?
		</Sql>
${selectOutputs}
		<Input name="Id" type="guid"/>
	</SqlStatement>

	<SqlStatement methodName="pagingSql_RowNumber" methodType="SELECTTOXML" target="odbc" outputCol="">
		<Comment>Part of the paging sql for ${tableName}</Comment>
		<Sql>ROW_NUMBER() over (order by ${SortBy}) - 1 as RowNumber</Sql>
		<Output name="RowNumber" type="int"/>
	</SqlStatement>
	<SqlStatement methodName="pagingSql_InnerColumns" methodType="SELECTTOXML" target="odbc" outputCol="">
		<Comment>Part of the paging sql for ${tableName}</Comment>
		<Sql>${selectColNames}</Sql>
	</SqlStatement>
	<SqlStatement methodName="pagingSql_FromJoin" methodType="SELECTTOXML" target="odbc" outputCol="">
		<Comment>Part of the paging sql for ${tableName}</Comment>
		<Sql>from ${tableName}</Sql>
	</SqlStatement>
	<SqlStatement methodName="pagingSql_AdminJoin" methodType="SELECTTOXML" target="odbc" outputCol="">
		<Comment>Part of the paging sql for ${tableName}</Comment>
		<Sql/>
	</SqlStatement>
	<SqlStatement methodName="pagingSql_NormalJoin" methodType="SELECTTOXML" target="odbc" outputCol="">
		<Comment>Part of the paging sql for ${tableName}</Comment>
		<Sql/>
	</SqlStatement>
	<SqlStatement methodName="pagingSql_SuperJoin" methodType="SELECTTOXML" target="odbc" outputCol="">
		<Comment>Part of the paging sql for ${tableName}</Comment>
		<Sql/>
	</SqlStatement>
	<SqlStatement methodName="pagingSql_AdminWhere" methodType="SELECTTOXML" target="odbc" outputCol="">
		<Comment>Part of the paging sql for ${tableName}</Comment>
		<Sql/>
	</SqlStatement>
	<SqlStatement methodName="pagingSql_NormalWhere" methodType="SELECTTOXML" target="odbc" outputCol="">
		<Comment>Part of the paging sql for ${tableName}</Comment>
		<Sql/>
	</SqlStatement>
	<SqlStatement methodName="pagingSql_SuperWhere" methodType="SELECTTOXML" target="odbc" outputCol="">
		<Comment>Part of the paging sql for ${tableName}</Comment>
		<Sql/>
	</SqlStatement>
	<SearchFunction name="GetSearchFields">
		<Comment>
			Generates the function used by paging search that provides the metadata that tells the search
			routines how to prepare the search portion of the query.
		</Comment>
		<SampleSearchField name="Number" sql="Jobs.Number" type="Contains" alias1="job" alias2="number" alias3="num"/>
		<SampleSearchField name="CreatedByFirstName" sql="CreatedByContact.FirstName" type="StartsWith" alias1="createdfirst" alias2="createdf" alias3="created1"/>
		<SampleSearchField name="StartDate" sql="Jobs.StartDate" type="Date" alias1="start" alias2="startdate"/>
		<SampleSearchField name="EmployeeNumber" sql="Employees.Number" type="Number" alias1="emp" alias2="no"/>
		<SampleSearchField name="POCount" sql="PurchaseOrders.Number" type="SubCount" alias1="po" alias2="purchaseorder">
			select count(1) -- always return a count
			from PurchaseOrders
				inner join PurchaseOrderJobs on PurchaseOrderJobs.PurchaseOrder_Id = PurchaseOrders.Id
			where PurchaseOrderJobs.Job_Id = Jobs.Id -- link to the outer query with this
			-- don't put the filter condition in here, the SearchHandler functions will do that
		</SampleSearchField>
	</SearchFunction>
	<SqlStatement methodName="pagingSql_Filter" methodType="SELECTTOXML" target="odbc">
		<Comment>Used to pull up all rows from the table Messages that are visible to Admin Users</Comment>
		<Sql>
			DO NOT USE
			This has been replaced by the auto-generated filter from the SearchFunction
		</Sql>
	</SqlStatement>
	<SqlStatement methodName="pagingSql_OuterColumns" methodType="SELECTTOXML" target="odbc" outputCol="">
		<Comment>Part of the paging sql for ${tableName}</Comment>
		<Sql>RowNumber, ${selectSimpleColNames}
		</Sql>
		<Output name="RowNumber" type="int"/>
${selectOutputs}
	</SqlStatement>
	<SqlStatement methodName="pagingSql_Extra" methodType="SELECTTOXML" target="odbc" outputCol="">
		<Comment>Part of the paging sql for ${tableName}</Comment>
		<Sql/>
	</SqlStatement>
	<SqlStatement methodName="pagingSql_Count" methodType="SELECTTOXML" target="odbc" outputCol="">
		<Comment>Part of the paging sql for ${tableName}</Comment>
		<Sql>select count( distinct ${tableName}.Id )</Sql>
		<Output name="RowCount" type="int"/>
	</SqlStatement>

